body {
  overflow-x: hidden;
}
.hero-bg {
  background-color: rgb(227, 245, 255);
  /* background-color: #f7fcff; */
  /* background-color: rgba(0, 255, 255, 0.079); */
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 30%;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.left-round {
  box-shadow: rgba(179, 216, 233, 0.518) 0px 2px 8px 0px;
  background: #fff;
  width: 35%;
  height: 90%;
  background: #e0f1f9;
  z-index: 1;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  margin-top: 5px;
}

.hero-container {
  background: transparent;
  height: 80vh;
  width: 100%;
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  z-index: 2;
}
.hero-right {
  margin-top: -10px;

  width: 45%;
  height: 100%;
  /* border: 2px solid rgb(255, 47, 47); */
}
.hero-right > img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.hero-left {
  margin-top: -150px;

  width: 55%;
  padding: 0px 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #030046;
  /* border: 2px solid #000; */
}
.hero-search {
  width: 62%;
  background: #fff;
  margin-top: 20px;
  box-shadow: rgba(55, 55, 55, 0.1) 0px 20px 25px -5px,
    rgba(76, 76, 76, 0.04) 0px 10px 10px -5px;
  padding: 15px;
  padding-left: 15px;
  border-radius: 25px;
}
.search {
  width: 100%;
  outline: none !important;
  border: none;
}
.line1 {
  position: absolute;
  transform: rotate(-31.59deg);
  left: 1180px;
  top: 79px;
}
